---
layout: default
---

<h1 class="title">{{ page.title }}{% if page.subtitle %} <span class="subtitle">{{ page.subtitle }}</span>{% endif %}</h1>

{% if page.video.id %}
  <div class="youtube-wrapper" style="padding-bottom: {{ page.video.aspect }}%;">
    <iframe src="https://www.youtube.com/embed/{{ page.video.id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
{% elsif page.video %}
  <p class="center gap accent"><strong>Video della lezione disponibile a breve!</strong></p>
{% endif %}

{{ content }}

<hr>

<div class="small center">
<p><a href="https://github.com/missing-semester-it/missing-semester-it.github.io/blob/master/{{ page.path }}">Modifica questa pagina</a>.</p>
<p>Rilasciato sotto licenza <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">CC BY-NC-SA</a>.</p>
</div>
